*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(220, 248, 143);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px;

}

.form-container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    text-align: left;
    
   

}
.heading h2{
    margin-top: 0;
    margin-bottom: 20px;
   
    padding-bottom: 20px;
    color: rgb(31, 25, 25);
}
fieldset {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
  
  }
legend {
    font-weight: bold;
    padding: 0 5px;
    color: #858b0f;
    font-size: larger;
  }
fieldset label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


fieldset label[for="disability"] {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

fieldset label:not([for="disability"]) {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}
fieldset label input[type="radio"] {
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
input, select, button {
    width: 100%;
    padding:10px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid #ccc;
  }
button {
    background-color:#cad61f;
    color:black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
button:hover {
    background-color: black;
    color: #cad61f ;
  }
